.category {
    max-width: 1200px;
    min-height: 468px;
    margin: auto;
    margin-bottom: 120px;
    padding: 0px 24px;
    box-sizing: content-box;
}

.category h3 {
    margin: 0px 15px;
}

.primary-line {
    height: 2px;
    background-color: #E5E5E5;
    margin: 32px 15px 0px 15px;
}

.secondary-line {
    height: 2px;
    width: 132px;
    background-color: var(--accent-color);
}

.toys {
    display: flex;
    justify-content: space-around;
    padding-top: 56px;
    box-sizing: border-box;
}

@media (max-width: 1024px /* Laptop */ ) {

    .toys {
        flex-flow: row wrap;
    }
}