.category {
    width: 1200px;
    height: 468px;
    margin: auto;
    margin-bottom: 120px;
}

.primary-line {
    height: 2px;
    background-color: #E5E5E5;
    margin-top: 32px;
}

.secondary-line {
    height: 2px;
    width: 132px;
    background-color: var(--accent-color);
}

.toys {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
}