@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700,700i&display=swap');


body {
  --accent-color: #a5c926;
  
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}