.ItemShoppingCart {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    box-sizing: border-box;

}

.ItemShoppingCart > img {
    width: 60px;
    height: 60px;
}

.ItemShoppingCart > div {
    width: 240px;
}

.ItemShoppingCart-title {
    height: 23px;
    font-weight: 700;
    font-size: 14px;
}

.ItemShoppingCart-price {
    font-size: 14px;
    color: #111;
}

.ItemShoppingCart-remove {
    display: block;
    color: #fb416b;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 3px;
}

.ItemShoppingCart > input {
    margin: 0px;
    align-self: flex-start;
}