.ItemToy {
    width: 270px;
    height: 328px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    border-radius: 16px;
    text-align: center;
    padding: 24px 24px 32px;
    box-sizing: border-box;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
    cursor: pointer;
}

.ItemToy:hover {
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, .15);
    transform: scale(1.05) translate(0px, -2px);
}

.ItemToy img {
    width: 182px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.ItemToy h6 {
    margin-bottom: 12px;
}

.ItemToy-price {
    width: 60px;
    height: 24px;
    background-color: var(--accent-color);
    color: white;
    font-size: 12px;
    border-radius: 16px;
    padding: 2px 12px;
    line-height: 20px;
    box-sizing: border-box;
    font-weight: 600;
    margin: auto;
}